body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
    white-space: pre-wrap;
    text-transform: capitalize;
    text-shadow: 15px 15px 20px red;
}

h2 {
    background-color: red;
}

#test {
    background-color: green;
}

.container {
    background-color: aqua;
}

.baslik {
    color:blueviolet;
}

h1, h2, h3 {
    color: sienna;
}

div span {
    background-color: aqua;
}

div > b {
    color: pink;
}

div {
    width: 100px;
    height: 100px;
}

span {
    width: 100px;
    height: 100px;
}

.size {
    width: 50%;
}

#padding {
    width: 300px;
    height: 250px;
    background-color: aquamarine;
    padding: 900px;
}

#margin {
    width: 300px;
    height: 250px;
    background-color: aquamarine;
    margin:  55px 10px 15px 25px;
    border: 5px solid #ddd;
    border-radius: 15px;
    text-align: center;
}

#outline {
    width: 150px;
    height: 150px;
    outline-width: 2px;
    outline-color: blue;
    outline-offset: 15px;
}